{% load static %}

<nav class="navbar navbar-light bg-light border-bottom shadow-sm">
  <a class="navbar-brand" href="{% url 'accueil' %}">
    <img src="{% static "base/brand.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
    AGOGOGANG
  </a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <a class="btn btn-outline-primary" href="#">
    {% if user.is_authenticated %}
      Sign off
    {% else %}
      Sign in
    {% endif %}
  </a>
</nav>
