{% extends "base.html" %}

{% block content %}

    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Fournisseurs</h4>
        </div>
        <div class="card-body">
          <a class="btn btn-lg btn-block btn-primary" href="{% url 'fournisseurs-liste' %}" role="button">Liste des fournisseurs</a>
          <a class="btn btn-lg btn-block btn-primary" href="#" role="button">Nouveau fournisseur</a>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Commandes</h4>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-lg btn-block btn-primary">Commandes en cours</button>
          <button type="button" class="btn btn-lg btn-block btn-primary">Nouvelle commande</button>
          <button type="button" class="btn btn-lg btn-block btn-primary">Modifier une commande</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Factures</h4>
        </div>
        <div class="card-body">
          <button type="button" class="btn btn-lg btn-block btn-primary">Factures à régler</button>
          <button type="button" class="btn btn-lg btn-block btn-primary">Nouvelle facture</button>
        </div>
      </div>
    </div>

{% endblock %}
